@import './assets/fonts/poppins/font.min.css';

:root {
  --primary-font: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
}

button,
input,
textarea,
select {
  font-family: var(--primary-font);
}
